<!-- Contact Section -->
<section id="contact" class="contact-section light-section dark-content">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="special-heading dark-special">Drop us a line</h1>
				<p class="section-description">If you are interested in our services don't hesitate to contact us.</p>
				<div class="row contact-informations">
					<div class="col-sm-4">
						<div class="contact-info clearfix">
							<i class="fa fa-map-marker"></i>
							<span>Náměstí Svobody 527<br>Třinec</span>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="contact-info clearfix">
							<i class="fa fa-envelope"></i>
							<span>info@idevband.com</span>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="contact-info clearfix">
							<i class="fa fa-phone"></i>
							<span><a href="tel:+420776822676">+420 776 822 676</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-8 col-md-offset-2">

				<div id="result" class="result col-md-12"></div>

				<form id="contact_form" class="contact-form" action="contact.php" method="post">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control input-lg" id="nameinput" placeholder="Name" name="name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" class="form-control input-lg" id="emailinput" placeholder="Email" name="email">
							</div>
						</div>
					<div class="col-md-12">
					<div class="form-group">
						<textarea class="form-control" rows="10" name="message" placeholder="Message"></textarea>
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-lg" id="humaninput" placeholder="5 + 2 =" name="human">
					</div>
					<div class="form-group">
						<button id="submit_btn" type="submit" class="btn btn-outline-white btn-big">Submit</button>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- End of Contact Section -->
