<!-- Footer -->
<section id="map" class="map-section" data-lat="44.86056" data-long="24.86778" data-zoom="17" data-map-type="satellite">
	<!-- <div id="map-canvas" style="width:100%; height:400px;" class="googleMap"></div> -->
</section>


<!-- Footer -->
<footer class="footer photo-section dark-section light-content">
	<div class="bg-overlay"></div>
	<div class="container">
		<div class="social-icons light-icons">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
			<!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
		</div>
		<p>© copyright iDevBand 2016</p>
	</div>
</footer>

<div class="scrolltotop">
	<i class="fa fa-chevron-up"></i>
</div>
<!-- End of Footer -->
