section#portfolio.l-portfolio-section.light-section.dark-content
  div#app.containerCards.c-portfolio__section
    //  figure.c-portfolio__thumb
    // img(src="assets/img/portfolio/zuno_2.jpg").c-portfolio__img

    card(data-image="assets/img/portfolio/zuno_1.jpg").c-portfolio__item
      h1(slot='header') Zuno
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image="assets/img/portfolio/zuno_2.jpg").c-portfolio__item
      h1(slot='header') Zuno
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image="assets/img/portfolio/eats_1.jpg").c-portfolio__item
      h1(slot='header') Eats
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image="assets/img/portfolio/eats_2.jpg").c-portfolio__item
      h1(slot='header') Eats
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image="assets/img/portfolio/mybooks_1.jpg").c-portfolio__item
      h1(slot='header') MyBooks
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image="assets/img/portfolio/mybooks_2.jpg").c-portfolio__item
      h1(slot='header') MyBooks
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image='assets/img/portfolio/Calenala_1.png').c-portfolio__item
      h1(slot='header') Calenala
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image='assets/img/portfolio/Calenala_2.png').c-portfolio__item
      h1(slot='header') Calenala
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image='assets/img/portfolio/certificate_1.jpg').c-portfolio__item
      h1(slot='header') Certificate
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image='assets/img/portfolio/certificate_2.jpg').c-portfolio__item
      h1(slot='header') Certificate
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image='assets/img/portfolio/mySkoda_1.png').c-portfolio__item
      h1(slot='header') My Skoda
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image='assets/img/portfolio/mySkoda_2.jpg').c-portfolio__item
      h1(slot='header') My Skoda
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image='assets/img/portfolio/photobox_1.jpg').c-portfolio__item
      h1(slot='header') Photobox
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image='assets/img/portfolio/photobox_2.jpg').c-portfolio__item
      h1(slot='header') Photobox
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image='assets/img/portfolio/placesAroundYou_1.jpg').c-portfolio__item
      h1(slot='header') Places Around You
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    card(data-image='assets/img/portfolio/placesAroundYou_2.png').c-portfolio__item
      h1(slot='header') Places Around You
      p(slot='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
