<!-- Services Section -->
<section id="services" class="parallax services-section photo-section dark-section light-content">
	<div class="bg-overlay"></div>
	<div class="container">
		<h1 class="special-heading light-special">Our Services</h1>
		<div class="row">
			<div class="col-md-4">
				<div class="service-col">
					<div class="service-icon">
						<figure><i class="fa fa-users"></i></figure>
					</div>
					<h2><a href="#">Outsourcing</a></h2>
					<p>We offer outsourcing of developers to fulfill your startup projects or corporate needs. Everything is a big challenge for our developers and they devote their best effort into their work.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-col">
					<div class="service-icon">
						<figure><i class="fa fa-apple"></i></figure>
					</div>
					<h2><a href="#">iOS/OS X Apps</a></h2>
					<p>We have well disciplined team of developers mastering all kinds of best practice techniques. They are used to maintain readable and reusable code in case you would need to add some functionality later.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-col">
					<div class="service-icon">
						<figure><i class="fa fa-pencil"></i></figure>
					</div>
					<h2><a href="#">Design</a></h2>
					<p>We are also offering application design from scratch. Our designers are well aware of iOS guidelines, especially Deference, Clarity and Depth and are ready to create a smile on your face.</p>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- End of Services Section -->
