<!-- Welcome Section -->
<section id="welcome" class="parallax welcome-section photo-section dark-section light-content parallax">
	<div class="bg-overlay"></div>
	<div class="container">
		<div class="content-wrapper">
			<div class="welcome-content">
				<h1 class="special-heading light-special">iDevBand</h1>
				<p>
					<span>We are a band of developers offering</span>
					<span class="rotating-words">outsourcing, iOS/OS X Apps, design</span>
				</p>
				<div class="social-icons light-icons">
					<a href="https://www.facebook.com/idevband" target="_blank"><i class="fa fa-facebook" ></i></a>
					<!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
					<!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
				</div>
				<div class="scroll-more">
					<span>Scroll down</span>
					<i class="scroll-arrow"></i>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of Welcome Section -->
