<!DOCTYPE html>
html(lang="en")
  head
    title iDevBand
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
    link(rel="stylesheet", href="assets/css/main.css")
    include favicon.html
  body(data-spy="scroll", data-target="#my-nav")
    include _navbar.html
    include _welcome.html
    include _portfolio
    //include _portfolioCards.html
    include _services.html
    include _contact.html
    include _footer.html
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="./assets/js/app.js")
    include _scripts.html
